{
  "extends": [
    "google"
  ],
  "rules": {
    "no-console": 0,
    "max-len": [
      2,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true
      }
    ]
  },
  "env": {
    "node": true,
    "es6": true
  }
}